# Cluster assignment
cluster-ceph/cluster/*.sls
cluster-unassigned/cluster/admin.ceph.sls
cluster-unassigned/cluster/client*.sls
# Hardware Profile
2Dsk2GB-1/cluster/data*.sls
2Dsk2GB-1/stack/ceph/minions/data*.ceph.yml
2Dsk2GB-1/stack/ceph/roles/storage.yml
# Common configuration
config/stack/ceph/cluster.yml
config/stack/global.yml
# Role assignment
role-admin/cluster/*.sls
role-admin/stack/ceph/roles/admin.yml
role-igw/cluster/igw*.sls
role-mon/cluster/mon*.sls
role-mon/stack/ceph/roles/mon.yml
# Customization
custom/stack/ceph/cluster.yml


