[Unit]
Description=The Salt Minion
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/opt/salt2015/bin/salt-minion -c /opt/salt2015/etc/salt

[Install]
WantedBy=multi-user.target
